TecnicalTestSBAplication/TecnicalTestSBProject/WSDL_-1950790956.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://deadman.ex/CrudService/schema" xmlns:ns1="http://deadman.ex/CrudService/wsdl" name="CrudServicePort" targetNamespace="http://deadman.ex/CrudService/wsdl">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://deadman.ex/CrudService/schema" version="1.0">

  <xs:element name="GetTestDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetTestDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
        <xs:element name="name_data" type="xs:string"/>
        <xs:element name="description_data" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SaveTestDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
        <xs:element name="name_data" type="xs:string"/>
        <xs:element name="description_data" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SaveTestDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
        <xs:element name="name_data" type="xs:string"/>
        <xs:element name="description_data" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="SaveTestData">
    <wsdl:part element="ns2:SaveTestDataRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SaveTestDataResponse">
    <wsdl:part element="ns2:SaveTestDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTestData">
    <wsdl:part element="ns2:GetTestDataRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTestDataResponse">
    <wsdl:part element="ns2:GetTestDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CrudServicePort">
    <wsdl:operation name="GetTestData">
      <wsdl:input message="ns1:GetTestData" name="GetTestData">
    </wsdl:input>
      <wsdl:output message="ns1:GetTestDataResponse" name="GetTestDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTestData">
      <wsdl:input message="ns1:SaveTestData" name="SaveTestData">
    </wsdl:input>
      <wsdl:output message="ns1:SaveTestDataResponse" name="SaveTestDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>