tecnical.test/src/main/resources/wsdl/CrudService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        name="SumService"
        targetNamespace="http://deadman.ex/CrudService/wsdl"
        xmlns:tns="http://deadman.ex/CrudService/wsdl"
        xmlns:ns1="http://deadman.ex/CrudService/schema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema targetNamespace="http://deadman.ex/CrudService/wsdl" >
            <xsd:import namespace="http://deadman.ex/CrudService/schema" schemaLocation="CrudService.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetTestDataRequest">
        <wsdl:part element="ns1:GetTestDataRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetTestDataResponse">
        <wsdl:part element="ns1:GetTestDataResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="SaveTestDataRequest">
        <wsdl:part element="ns1:SaveTestDataRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="SaveTestDataResponse">
        <wsdl:part element="ns1:SaveTestDataResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="CrudServicePort">
        <wsdl:operation name="GetTestData">
            <wsdl:input message="tns:GetTestDataRequest"/>
            <wsdl:output message="tns:GetTestDataResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SaveTestData">
            <wsdl:input message="tns:SaveTestDataRequest"/>
            <wsdl:output message="tns:SaveTestDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CrudServiceSOAPBinding" type="tns:CrudServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTestData">
            <soap:operation soapAction="http://deadman.ex/CrudService/GetTestData"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SaveTestData">
            <soap:operation soapAction="http://deadman.ex/CrudService/SaveTestData"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CrudService">
        <wsdl:port binding="tns:CrudServiceSOAPBinding" name="CrudServiceSOAPBinding">
            <soap:address location="http://localhost:8080/services/soap/CrudService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>